### 1. Limpieza de datos

In [6]:
# Librerías
import pandas as pd
import numpy as np
import PyQt5
import pandasgui.gui

ImportError: DLL load failed while importing QtWebEngineWidgets: No se puede encontrar el módulo especificado.

#### Carga de datos

In [39]:
nls97 = pd.read_csv(filepath_or_buffer = './data/nls97.csv', index_col = 'personid')
# nls97.head()
# nls97.tail()
# nls97.info()
# nls97.dtypes
# nls97.shape
nls97.head().T

personid,100061,100139,100284,100292,100583
gender,Female,Male,Male,Male,Male
birthmonth,5,9,11,4,1
birthyear,1980,1983,1984,1982,1980
highestgradecompleted,13.0,12.0,7.0,NaN,13.0
maritalstatus,Married,Married,Never-married,NaN,Married
...,...,...,...,...,...
colenroct15,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
colenrfeb16,1. Not enrolled,1. Not enrolled,1. Not enrolled,NaN,1. Not enrolled
colenroct16,1. Not enrolled,1. Not enrolled,1. Not enrolled,NaN,1. Not enrolled
colenrfeb17,1. Not enrolled,1. Not enrolled,1. Not enrolled,NaN,1. Not enrolled
colenroct17,1. Not enrolled,1. Not enrolled,1. Not enrolled,NaN,1. Not enrolled

#### Selección de filas y columnas

In [36]:
# Selección de filas y columnas al mismo tiempo
lowsleep3pluschildren = \
  nls97.loc[(nls97.nightlyhrssleep<=lowsleepthreshold)
    & (nls97.childathome>=3),
    ['nightlyhrssleep','childathome']]
lowsleep3pluschildren.shape

(623, 2)

#### Transformar columnas de tipo object en category

In [53]:
nls97abb = nls97.iloc[:,:20]

# Seleccionar columnas de tipo object y transformarlas en categorías
catcols = nls97abb.select_dtypes( include=['object'] ).columns
nls97abb = nls97abb[catcols].apply(lambda x: x.astype('category'))
nls97abb.dtypes

gender               category
maritalstatus        category
weeklyhrscomputer    category
weeklyhrstv          category
highestdegree        category
govprovidejobs       category
govpricecontrols     category
dtype: object

### 2. Generando frecuencias a partir de datos

In [1]:
# Librerías
import pandas as pd
import numpy as np

In [9]:
nls97 = pd.read_csv(filepath_or_buffer = './data/nls97.csv',
                    index_col = 'personid',
                    usecols = range(21))
nls97.dtypes

gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
maritalstatus             object
childathome              float64
childnotathome           float64
wageincome               float64
weeklyhrscomputer         object
weeklyhrstv               object
nightlyhrssleep          float64
satverbal                float64
satmath                  float64
gpaoverall               float64
gpaenglish               float64
gpamath                  float64
gpascience               float64
highestdegree             object
govprovidejobs            object
govpricecontrols          object
dtype: object

In [20]:
# Recuento de valores
#nls97['maritalstatus'].value_counts(dropna = False)

# Recuento de valores
# nls97['maritalstatus'].value_counts(dropna = False).sort_index()

# Encadenar operciones
nls97['maritalstatus'].\
    value_counts(normalize = True, dropna = False).\
    sort_index()

maritalstatus
Divorced         0.073798
Married          0.341273
Never-married    0.307881
Separated        0.017142
Widowed          0.002560
NaN              0.257346
Name: proportion, dtype: float64

Python tienen la capacidad de almacenas datos categóricos de forma más eficiente a través de "category"

In [25]:
# Seleccionar columnas de tipo object y transformarlas en categorías
catcols = nls97.select_dtypes( include=['object'] ).columns
nls97abb = nls97[catcols].apply(lambda x: x.astype('category'))
nls97abb.dtypes

gender               category
maritalstatus        category
weeklyhrscomputer    category
weeklyhrstv          category
highestdegree        category
govprovidejobs       category
govpricecontrols     category
dtype: object

In [33]:
nls97abb.isnull().sum().sort_values(ascending = False)

govprovidejobs       7151
govpricecontrols     7125
weeklyhrscomputer    3192
maritalstatus        2312
weeklyhrstv          2273
highestdegree          31
gender                  0
dtype: int64

In [40]:
nls97abb.filter( like = 'gov' ).apply(pd.value_counts, normalize=True)

                   govprovidejobs  govpricecontrols
1. Definitely            0.247681          0.541689
2. Probably              0.336607          0.334051
3. Probably not          0.252046          0.086606
4. Definitely not        0.163666          0.037655

In [44]:
nls97abb.loc[nls97abb['maritalstatus'] == 'Married'].\
    filter(like = 'gov').\
    apply(pd.value_counts, normalize = True)

                   govprovidejobs  govpricecontrols
1. Definitely            0.173315          0.459864
2. Probably              0.328748          0.380952
3. Probably not          0.314993          0.112925
4. Definitely not        0.182944          0.046259

In [45]:
nls97abb.loc[nls97abb['maritalstatus'] == 'Married', ['govprovidejobs','govpricecontrols']].\
   apply(pd.value_counts, normalize = True)

                   govprovidejobs  govpricecontrols
1. Definitely            0.173315          0.459864
2. Probably              0.328748          0.380952
3. Probably not          0.314993          0.112925
4. Definitely not        0.182944          0.046259

Reeemplazar valores en una columna

In [47]:
nls97abb.columns

Index(['gender', 'maritalstatus', 'weeklyhrscomputer', 'weeklyhrstv',
       'highestdegree', 'govprovidejobs', 'govpricecontrols'],
      dtype='object')

In [50]:
# Reemplazamos el número 95 por un campo vación (nan)
nls97 = pd.read_csv(filepath_or_buffer = './data/nls97.csv',
                    index_col = 'personid')

nls97['highestgradecompleted'].\
  replace(95, np.nan, inplace = True)

nls97['highestgradecompleted'].value_counts()

highestgradecompleted
12.0    1389
16.0    1016
14.0     750
13.0     538
18.0     407
15.0     397
17.0     388
11.0     364
20.0     333
10.0     329
9.0      292
19.0     203
8.0      198
7.0       31
6.0       16
5.0        1
Name: count, dtype: int64