#### Evaluación de relaciones bivariantes y multivariantes para vairables predictoras y de respuesta

##### 1. Detección de valores atípicos y extremos en relaciones bivariantes

Importación de librerías

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Carga de datos

In [9]:
covidtotals = pd.read_csv( filepath_or_buffer = './data/covidtotals.csv', index_col = 'iso_code' )
covidtotals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 221 entries, AFG to ZWE
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   lastdate             221 non-null    object
 1   location             221 non-null    object
 2   total_cases          192 non-null    float64
 3   total_deaths         185 non-null    float64
 4   total_cases_mill     192 non-null    float64
 5   total_deaths_mill    185 non-null    float64
 6   population           221 non-null    float64
 7   population_density   206 non-null    float64
 8   median_age           190 non-null    float64
 9   gdp_per_capita       193 non-null    float64
 10  aged_65_older        188 non-null    float64
 11  total_tests_thous    13 non-null     float64
 12  life_expectancy      217 non-null    float64
 13  hospital_beds_thous  170 non-null    float64
 14  diabetes_prevalence  200 non-null    float64
 15  region               221 non-null    object
dtypes: float64(13), object(3)
memory usage: 29.4+ KB

Una buena forma de emezar con el análisis bivariante es hallar correlaciones

In [10]:
totvars = ['location','total_cases_mill','total_deaths_mill']
demovars = ['population_density','aged_65_older', 'gdp_per_capita','life_expectancy', 'diabetes_prevalence']
covidkeys = covidtotals.loc[:,totvars + demovars]
covidkeys.head().T

iso_code                     AFG        ALB        DZA         AND       AGO
location             Afghanistan    Albania    Algeria     Andorra    Angola
total_cases_mill        3314.321  46061.922    3261.77  181466.382  1201.566
total_deaths_mill        139.102     853.43     86.338    1643.694    28.144
population_density        54.422    104.871     17.348     163.755     23.89
aged_65_older              2.581     13.188      6.211         NaN     2.405
gdp_per_capita          1803.987  11803.431  13913.839         NaN  5819.495
life_expectancy            64.83      78.57      76.88       83.73     61.15
diabetes_prevalence         9.59      10.08       6.73        7.97      3.94

Ahora construimos la matriz de correlación de Pearson

In [44]:
# Observar los resultados como una matrix
#corrmatrix = covidkeys.corr(method = 'pearson', numeric_only = True)

# Filtrar los valores más altos
corrmatrix = (covidkeys
              .corr(method='pearson', numeric_only=True)
              .reset_index(names='Variable 1')
              .melt(id_vars='Variable 1', var_name='Variable 2')
              .query(' `Variable 1` != `Variable 2` ')
              .sort_values(by = 'value', ascending = False)
              )

corrmatrix['aux'] = (corrmatrix['Variable 1'] + corrmatrix['Variable 2']).apply(set)

corrmatrix

,Variable 1,Variable 2,value,aux
38,aged_65_older,life_expectancy,0.729937,"{_, a, o, f, c, t, d, y, p, e, g, x, l, r, n, ..."
26,life_expectancy,aged_65_older,0.729937,"{_, a, o, f, c, t, y, d, p, e, g, x, l, r, n, ..."
1,total_deaths_mill,total_cases_mill,0.709783,"{_, o, a, c, t, d, m, e, s, l, i, h}"
7,total_cases_mill,total_deaths_mill,0.709783,"{_, o, a, c, t, m, d, e, s, l, i, h}"
39,gdp_per_capita,life_expectancy,0.681222,"{_, a, c, f, t, d, y, p, e, g, x, l, r, n, i}"
33,life_expectancy,gdp_per_capita,0.681222,"{_, a, f, c, t, y, d, p, e, g, x, l, r, n, i}"
5,life_expectancy,total_cases_mill,0.570582,"{_, a, o, f, c, t, y, m, p, e, s, x, l, n, i}"
35,total_cases_mill,life_expectancy,0.570582,"{_, o, a, c, f, t, m, y, p, e, s, x, l, n, i}"
21,total_cases_mill,aged_65_older,0.533905,"{_, o, a, c, t, m, d, e, s, g, l, r, i, 5, 6}"
3,aged_65_older,total_cases_mill,0.533905,"{_, a, o, c, t, d, m, e, s, g, l, r, i, 5, 6}"
10,aged_65_older,total_deaths_mill,0.530196,"{_, a, o, h, t, d, m, e, s, g, l, r, i, 5, 6}"
22,total_deaths_mill,aged_65_older,0.530196,"{_, o, a, t, 6, d, m, e, s, g, l, r, i, 5, h}"
31,aged_65_older,gdp_per_capita,0.492855,"{_, a, o, c, t, d, p, e, g, l, r, i, 5, 6}"
25,gdp_per_capita,aged_65_older,0.492855,"{_, a, o, c, t, d, p, e, g, l, r, i, 5, 6}"
4,gdp_per_capita,total_cases_mill,0.464955,"{_, a, o, c, t, d, m, p, e, s, g, l, r, i}"
28,total_cases_mill,gdp_per_capita,0.464955,"{_, o, a, c, t, m, d, p, e, s, g, l, r, i}"
36,total_deaths_mill,life_expectancy,0.459677,"{_, o, a, f, c, t, d, m, p, y, e, s, x, l, n, ..."
12,life_expectancy,total_deaths_mill,0.459677,"{_, a, o, f, c, t, y, d, p, m, e, s, x, l, n, ..."
18,gdp_per_capita,population_density,0.408957,"{_, a, o, c, t, d, y, p, e, u, s, g, l, r, n, i}"
30,population_density,gdp_per_capita,0.408957,"{o, a, _, c, t, d, y, p, u, e, s, g, l, r, n, i}"
19,life_expectancy,population_density,0.231153,"{_, a, o, f, c, t, y, d, p, e, u, s, x, l, n, i}"
37,population_density,life_expectancy,0.231153,"{o, a, _, f, c, t, d, y, p, u, e, s, x, l, n, i}"
11,gdp_per_capita,total_deaths_mill,0.222839,"{_, a, o, c, t, d, m, p, e, s, g, l, r, i, h}"
29,total_deaths_mill,gdp_per_capita,0.222839,"{_, o, a, c, t, d, m, p, e, s, g, l, r, i, h}"
41,diabetes_prevalence,life_expectancy,0.190043,"{_, a, c, f, t, d, y, p, e, s, x, l, r, n, i, ..."
47,life_expectancy,diabetes_prevalence,0.190043,"{_, a, f, c, t, y, d, p, e, s, x, l, r, n, i, ..."
34,diabetes_prevalence,gdp_per_capita,0.123718,"{_, a, c, t, d, p, e, s, g, l, r, n, i, v, b}"
46,gdp_per_capita,diabetes_prevalence,0.123718,"{_, a, c, t, d, p, e, s, g, l, r, n, i, v, b}"
23,population_density,aged_65_older,0.063253,"{o, a, _, t, d, y, p, u, e, s, g, l, r, n, i, ..."
17,aged_65_older,population_density,0.063253,"{_, a, o, t, d, y, p, e, u, s, g, l, r, n, i, ..."
2,population_density,total_cases_mill,0.043152,"{o, a, _, c, t, d, y, p, m, u, e, s, l, n, i}"
14,total_cases_mill,population_density,0.043152,"{_, o, a, c, t, m, d, p, y, e, s, u, l, n, i}"
6,diabetes_prevalence,total_cases_mill,0.023023,"{_, a, o, c, t, d, m, p, e, s, l, r, n, i, v, b}"
42,total_cases_mill,diabetes_prevalence,0.023023,"{_, o, a, c, t, m, d, p, e, s, l, r, n, i, v, b}"
20,diabetes_prevalence,population_density,0.012559,"{_, a, o, c, t, d, y, p, e, s, u, l, r, n, i, ..."
44,population_density,diabetes_prevalence,0.012559,"{o, a, _, c, t, d, y, p, u, e, s, l, r, n, i, ..."
13,diabetes_prevalence,total_deaths_mill,-0.009011,"{_, a, o, c, h, t, d, m, p, e, s, l, r, n, i, ..."
43,total_deaths_mill,diabetes_prevalence,-0.009011,"{_, o, a, c, t, d, m, p, e, s, v, l, r, n, i, ..."
9,population_density,total_deaths_mill,-0.033728,"{o, a, _, t, d, y, p, m, u, e, s, l, n, i, h}"
15,total_deaths_mill,population_density,-0.033728,"{_, o, a, t, d, m, p, y, e, s, u, l, n, i, h}"
27,diabetes_prevalence,aged_65_older,-0.063584,"{_, a, o, c, t, 6, d, p, e, s, g, l, r, n, i, ..."
45,aged_65_older,diabetes_prevalence,-0.063584,"{_, a, o, c, t, d, p, e, s, g, v, l, r, n, i, ..."

In [34]:
# Crear un DataFrame de ejemplo
data = {
    'Variable 1': ['aged_65_older', 'life_expectancy', 'total_deaths_mill', 'total_cases_mill'],
    'Variable 2': ['life_expectancy', 'aged_65_older', 'total_cases_mill', 'total_deaths_mill'],
    'value': [0.729937, 0.729937, 0.709783, 0.709783]
}

df = pd.DataFrame(data)

# Concatenar las columnas "Variable 1" y "Variable 2" y convertirlas en un conjunto (set)
df['Combined Set'] = df['Variable 1'] + df['Variable 2']
df['Combined Set'] = df['Combined Set'].apply(set)

# Mostrar el DataFrame resultante
df

,Variable 1,Variable 2,value,Combined Set
0,aged_65_older,life_expectancy,0.729937,"{_, a, o, f, c, t, d, y, p, e, g, x, l, r, n, ..."
1,life_expectancy,aged_65_older,0.729937,"{_, a, o, f, c, t, y, d, p, e, g, x, l, r, n, ..."
2,total_deaths_mill,total_cases_mill,0.709783,"{_, o, a, c, t, d, m, e, s, l, i, h}"
3,total_cases_mill,total_deaths_mill,0.709783,"{_, o, a, c, t, m, d, e, s, l, i, h}"